.container {

    direction: rtl !important;
    text-align: right !important;
    width: 60% !important;
}

.new-label-style {

    font-size: 18px;
}

.new-title-style {
    font-size: 25px !important;
}

.registered-icon {
    margin-left: 8px
}

.new-logo-style {
    margin-top: -40px;
    margin-bottom: 20px;
}
